<template>
  <div class="fieldset">
    <div class="fieldset__label">
      <slot name="label"></slot>
    </div>

    <div class="fieldset__input">
      <slot></slot>
    </div>

    <div class="fieldset__message">
      <slot name="message"></slot>
    </div>
  </div>
</template>

<style scoped>
.fieldset + .fieldset {
  margin-top: 1em;
}

.fieldset__label {
  font-size: 1.2em;
}

.fieldset__label + .fieldset__input {
  margin-top: 0.5em;
}

.fieldset__input + .fieldset__message {
  margin-top: 0.5em;
}

.fieldset__message {
  font-size: 0.8em;
}
</style>
