<template>
  <form
    :action="action"
    :method="method"
  >
    <slot></slot>
  </form>
</template>

<script>
export default {
  props: {
    action: {
      type: String,
      default: '',
    },
    method: {
      type: String,
      default: '',
    },
  },
}</script>

<style scoped>
form {
  display: block;
  width: 100%;
  padding: 1em;
  background: rgb(218, 212, 187);
}
</style>
