<template>
  <div :class="classNames">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'normal',
      validator: string => {
        if (string === 'normal') {
          return true
        }

        if (string === 'error') {
          return true
        }

        return false
      },
    },
    align: {
      type: String,
      default: 'left',
      validator: string => {
        if (string === 'left') {
          return true
        }

        if (string === 'center') {
          return true
        }

        return false
      },
    },
  },
  computed: {
    classNames() {
      const result = []

      if (this.type === 'error') {
        result.push('error')
      }

      if (this.align === 'center') {
        result.push('center')
      }

      return result
    },
  },
}</script>

<style scoped>
.error {
  color: rgb(205, 105, 79);
}

.center {
  text-align: center;
}
</style>
