<template>
  <div>
    <form action="">
      <div class="fieldset">
        <div class="fieldset__label">
          ユーザーID
        </div>
        <div class="fieldset__input">
          <input
            type="text"
            name="userId"
            :value="form.userId"
            @input="onUserIdInput($event)"
          >
        </div>
        <div class="fieldset__message">
          <div v-if="!isValid.userId">{{error.userId}}</div>
        </div>
      </div>

      <div class="fieldset">
        <div class="fieldset__label">
          性別
        </div>
        <div class="fieldset__input">
          <label
            v-for="gender in genders"
            :key="gender.value"
          >
            <input
              type="radio"
              name="gender"
              :value="gender.value"
              :checked="gender.value === form.gender"
              @change="onGenderChange($event)"
            >
            {{gender.text}}
          </label>
        </div>
        <div class="fieldset__message">
          <div v-if="!isValid.gender">{{error.gender}}</div>
        </div>
      </div>

      <div class="fieldset">
        <div class="fieldset__label">
          興味のある分野
        </div>
        <div class="fieldset__input">
          <label
            v-for="interest in interests"
            :key="interest.value"
          >
            <input
              type="checkbox"
              name="interests"
              :value="interest.value"
              :checked="form.interests.includes(interest.value)"
              @change="onInterestsChange($event)"
            >
            {{interest.text}}
          </label>
        </div>
        <div class="fieldset__message">
          <div v-if="!isValid.interests">{{error.interests}}</div>
        </div>
      </div>

      <div class="submit-block">
        <button>送信</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        userId: '',
        gender: '',
        interests: [],
      },
      genders: [
        {
          text: '男性',
          value: 'male',
        },
        {
          text: '女性',
          value: 'female',
        },
      ],
      interests: [
        {
          text: '経済',
          value: 'economy',
        },
        {
          text: '暮らし',
          value: 'life',
        },
        {
          text: 'テクノロジー',
          value: 'technology',
        },
        {
          text: 'エンタメ',
          value: 'entertainment',
        },
      ],
    }
  },
  computed: {
    error() {
      const result = {}

      if (this.form.userId === '') {
        result.userId = 'ユーザーIDを入力してください。'
      } else {
        result.userId = ''
      }

      if (this.form.gender === '') {
        result.gender = '性別を選択してください。'
      } else {
        result.gender = ''
      }

      if (this.form.interests.length === 0) {
        result.interests = '興味のある分野を選択してください。'
      } else {
        result.interests = ''
      }

      return result
    },
    isValid() {
      const result = {}

      Object.keys(this.error).forEach(key => {
        result[key] = this.error[key] === ''
      })

      return result
    },
  },
  methods: {
    updateUserId(value) {
      this.form.userId = value
    },
    updateGender(value) {
      this.form.gender = value
    },
    updateInterests(value, isChecked) {
      if (isChecked) {
        this.form.interests = [...this.form.interests, value]
      } else {
        this.form.interests = this.form.interests.filter(interest => {
          return interest !== value
        })
      }
    },
    onUserIdInput($event) {
      this.updateUserId($event.target.value)
    },
    onGenderChange($event) {
      this.updateGender($event.target.value)
    },
    onInterestsChange($event) {
      this.updateInterests($event.target.value, $event.target.checked)
    },
  },
}</script>

<style scoped>
form {
  display: block;
  width: 100%;
  padding: 1em;
  background: rgb(218, 212, 187);
}

.submit-block {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.fieldset + .fieldset {
  margin-top: 1em;
}

.fieldset__label {
  font-size: 1.2em;
}

.fieldset__label + .fieldset__input {
  margin-top: 0.5em;
}

.fieldset__input + .fieldset__message {
  margin-top: 0.5em;
}

.fieldset__message {
  font-size: 0.8em;
}

input[type='text'] {
  display: block;
  border: none;
  width: 100%;
  padding: 0.5em;
  background: rgb(228, 222, 199);
  font-size: 1em;
}

label {
  display: block;
  padding: 0.5em;
  background: rgb(228, 222, 199);
}

label + label {
  margin-top: 0.5em;
}

button {
  display: block;
  padding: 0.5em 2em;
  border: none;
  background: rgb(180, 175, 154);
  color: rgb(78, 75, 66);
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: rgb(99, 95, 84);
  color: rgb(228, 222, 199);
}

.fieldset__message > div {
  color: rgb(205, 105, 79);
}
</style>
