<template>
  <div>
    <c-form>
      <c-fieldset>
        <div slot="label">
          ユーザーID
        </div>

        <c-text-field
          name="userId"
          :value="form.userId"
          @input="onUserIdInput($event)"
        >
        </c-text-field>

        <div slot="message">
          <c-inline-message
            v-if="!isValid.userId"
            type="error"
          >
            {{error.userId}}
          </c-inline-message>
        </div>
      </c-fieldset>

      <c-fieldset>
        <div slot="label">
          性別
        </div>

        <c-radio
          v-for="gender in genders"
          :key="gender.value"
          name="gender"
          :value="gender.value"
          :checked="gender.value === form.gender"
          @change="onGenderChange($event)"
        >
          {{gender.text}}
        </c-radio>

        <div slot="message">
          <c-inline-message
            v-if="!isValid.gender"
            type="error"
          >
            {{error.gender}}
          </c-inline-message>
        </div>
      </c-fieldset>

      <c-fieldset>
        <div slot="label">
          興味のある分野
        </div>

        <c-checkbox
          v-for="interest in interests"
          :key="interest.value"
          name="interests"
          :value="interest.value"
          :checked="form.interests.includes(interest.value)"
          @change="onInterestsChange($event)"
        >
          {{interest.text}}
        </c-checkbox>

        <div slot="message">
          <c-inline-message
            v-if="!isValid.interests"
            type="error"
          >
            {{error.interests}}
          </c-inline-message>
        </div>
      </c-fieldset>

      <c-form-submit-block>
        <c-button>送信</c-button>
      </c-form-submit-block>
    </c-form>
  </div>
</template>

<script>
import CButton from './components/CButton.vue'
import CCheckbox from './components/CCheckbox.vue'
import CFieldset from './components/CFieldset.vue'
import CForm from './components/CForm.vue'
import CFormSubmitBlock from './components/CFormSubmitBlock.vue'
import CInlineMessage from './components/CInlineMessage.vue'
import CRadio from './components/CRadio.vue'
import CTextField from './components/CTextField.vue'

export default {
  components: {
    CButton,
    CCheckbox,
    CFieldset,
    CForm,
    CFormSubmitBlock,
    CInlineMessage,
    CRadio,
    CTextField,
  },
  data() {
    return {
      form: {
        userId: '',
        gender: '',
        interests: [],
      },
      genders: [
        {
          text: '男性',
          value: 'male',
        },
        {
          text: '女性',
          value: 'female',
        },
      ],
      interests: [
        {
          text: '経済',
          value: 'economy',
        },
        {
          text: '暮らし',
          value: 'life',
        },
        {
          text: 'テクノロジー',
          value: 'technology',
        },
        {
          text: 'エンタメ',
          value: 'entertainment',
        },
      ],
    }
  },
  computed: {
    error() {
      const result = {}

      if (this.form.userId === '') {
        result.userId = 'ユーザーIDを入力してください。'
      } else {
        result.userId = ''
      }

      if (this.form.gender === '') {
        result.gender = '性別を選択してください。'
      } else {
        result.gender = ''
      }

      if (this.form.interests.length === 0) {
        result.interests = '興味のある分野を選択してください。'
      } else {
        result.interests = ''
      }

      return result
    },
    isValid() {
      const result = {}

      Object.keys(this.error).forEach(key => {
        result[key] = this.error[key] === ''
      })

      return result
    },
  },
  methods: {
    updateUserId(value) {
      this.form.userId = value
    },
    updateGender(value) {
      this.form.gender = value
    },
    updateInterests(value, isChecked) {
      if (isChecked) {
        this.form.interests = [...this.form.interests, value]
      } else {
        this.form.interests = this.form.interests.filter(interest => {
          return interest !== value
        })
      }
    },
    onUserIdInput($event) {
      this.updateUserId($event.target.value)
    },
    onGenderChange($event) {
      this.updateGender($event.target.value)
    },
    onInterestsChange($event) {
      this.updateInterests($event.target.value, $event.target.checked)
    },
  },
}</script>
