<template>
  <div>
    <form action="">
      <div class="fieldset">
        <div class="fieldset__label">
          ユーザーID
        </div>
        <div class="fieldset__input">
          <input type="text" name="userId">
        </div>
      </div>

      <div class="fieldset">
        <div class="fieldset__label">
          性別
        </div>
        <div class="fieldset__input">
          <label>
            <input type="radio" name="gender">
            男性
          </label>

          <label>
            <input type="radio" name="gender">
            女性
          </label>
        </div>
      </div>

      <div class="fieldset">
        <div class="fieldset__label">
          興味のある分野
        </div>
        <div class="fieldset__input">
          <label>
            <input type="checkbox" name="interests">
            政治と経済
          </label>

          <label>
            <input type="checkbox" name="interests">
            暮らし
          </label>

          <label>
            <input type="checkbox" name="interests">
            テクノロジー
          </label>

          <label>
            <input type="checkbox" name="interests">
            エンタメ
          </label>
        </div>
      </div>

      <div class="submit-block">
        <button>送信</button>
      </div>
    </form>
  </div>
</template>

<style scoped>
form {
  display: block;
  width: 100%;
  padding: 1em;
  background: rgb(218, 212, 187);
}

.submit-block {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.fieldset + .fieldset {
  margin-top: 1em;
}

.fieldset__label {
  font-size: 1.2em;
}

.fieldset__label + .fieldset__input {
  margin-top: 0.5em;
}

input[type='text'] {
  display: block;
  border: none;
  width: 100%;
  padding: 0.5em;
  background: rgb(228, 222, 199);
  font-size: 1em;
}

label {
  display: block;
  padding: 0.5em;
  background: rgb(228, 222, 199);
}

label + label {
  margin-top: 0.5em;
}

button {
  display: block;
  padding: 0.5em 2em;
  border: none;
  background: rgb(180, 175, 154);
  color: rgb(78, 75, 66);
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: rgb(99, 95, 84);
  color: rgb(228, 222, 199);
}
</style>
