<template>
  <div>
    <p-edit
      v-if="inEditPage"
      :failedToSubmit="failedToSubmit"
      :form="form"
      :genders="genders"
      :interests="interests"
      :error="error"
      :isValid="isValid"
      @goConfirmPage="goConfirmPage"
      @updateUserId="updateUserId"
      @updateGender="updateGender"
      @updateInterests="updateInterests"
      @submitData="submitData"
      @onUserIdInput="onUserIdInput"
      @onGenderChange="onGenderChange"
      @onInterestsChange="onInterestsChange"
    >
    </p-edit>

    <p-confirm
      v-if="inConfirmPage"
      :form="form"
      :genders="genders"
      :interests="interests"
      @goEditPage="goEditPage"
      @onSubmitButtonClick="onSubmitButtonClick"
      @secretCommand="secretCommand"
    >
    </p-confirm>
  </div>
</template>

<script>
import axios from 'axios'

import PConfirm from './components/PConfirm.vue'
import PEdit from './components/PEdit.vue'

export default {
  components: {
    PConfirm,
    PEdit,
  },
  data() {
    return {
      currentPage: 'edit', // 'edit' or 'confirm'
      failedToSubmit: false,
      form: {
        userId: '',
        gender: '',
        interests: [],
      },
      genders: [
        {
          text: '男性',
          value: 'male',
        },
        {
          text: '女性',
          value: 'female',
        },
      ],
      interests: [
        {
          text: '経済',
          value: 'economy',
        },
        {
          text: '暮らし',
          value: 'life',
        },
        {
          text: 'テクノロジー',
          value: 'technology',
        },
        {
          text: 'エンタメ',
          value: 'entertainment',
        },
      ],
    }
  },
  computed: {
    inEditPage() {
      return this.currentPage === 'edit'
    },
    inConfirmPage() {
      return this.currentPage === 'confirm'
    },
    error() {
      const result = {}

      if (this.form.userId === '') {
        result.userId = 'ユーザーIDを入力してください。'
      } else {
        result.userId = ''
      }

      if (this.form.gender === '') {
        result.gender = '性別を選択してください。'
      } else {
        result.gender = ''
      }

      if (this.form.interests.length === 0) {
        result.interests = '興味のある分野を選択してください。'
      } else {
        result.interests = ''
      }

      return result
    },
    isValid() {
      const result = {}

      Object.keys(this.error).forEach(key => {
        result[key] = this.error[key] === ''
      })

      return result
    },
    isValidAll() {
      return Object.keys(this.isValid).every(key => {
        return this.isValid[key]
      })
    },
  },
  methods: {
    goEditPage() {
      this.currentPage = 'edit'
    },
    goConfirmPage() {
      if (!this.isValidAll) {
        this.failedToSubmit = true

        setTimeout(() => {
          this.failedToSubmit = false
        }, 3000)
        return
      }
      this.currentPage = 'confirm'
    },
    updateUserId(value) {
      this.form.userId = value
    },
    updateGender(value) {
      this.form.gender = value
    },
    updateInterests(value, isChecked) {
      if (isChecked) {
        this.form.interests = [...this.form.interests, value]
      } else {
        this.form.interests = this.form.interests.filter(interest => {
          return interest !== value
        })
      }
    },
    submitData() {
      return axios.post('/', this.form)
    },
    onUserIdInput($event) {
      this.updateUserId($event.target.value)
    },
    onGenderChange($event) {
      this.updateGender($event.target.value)
    },
    onInterestsChange($event) {
      this.updateInterests($event.target.value, $event.target.checked)
    },
    onSubmitButtonClick() {
      this.submitData()
        .then(response => {
          console.log(response) // eslint-disable-line no-console
        })
        .catch(error => {
          console.log(error) // eslint-disable-line no-console
        })
    },
    secretCommand($event) {
      if ($event.keyCode === 39) {
        alert('ArrowRight is pushed!')
      }
    },
  },
}</script>
