<template>
  <div>
    <ul>
      <li>
        <button
          :class="{'selected': selectedTabNames.includes('tab1')}"
          @click="selectTab('tab1')"
        >
          タブ１
        </button>
      </li>
      <li>
        <button
          :class="{'selected': selectedTabNames.includes('tab2')}"
          @click="selectTab('tab2')"
        >
          タブ２
        </button>
      </li>
    </ul>

    <section v-if="selectedTabNames.includes('tab1')">
      コンテンツ１
    </section>

    <section v-if="selectedTabNames.includes('tab2')">
      コンテンツ２
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tabs: [
        {
          name: 'tab1',
          isSelected: true,
        },
        {
          name: 'tab2',
          isSelected: false,
        },
      ],
    }
  },
  computed: {
    selectedTabNames() {
      return this.tabs
        .filter(tab => {
          return tab.isSelected
        })
        .map(tab => {
          return tab.name
        })
    },
  },
  methods: {
    selectTab(tabName) {
      this.tabs = this.tabs.map(tab => {
        if (tab.name === tabName) {
          return Object.assign(tab, {
            isSelected: true,
          })
        } else {
          return Object.assign(tab, {
            isSelected: false,
          })
        }
      })
    },
  },
}</script>

<style scoped>
ul {
  list-style: none;
  display: flex;
  padding: 0;
}

button {
  display: inline-block;
  border: none;
  padding: 0.5em 1em;
  background-color: #eee;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #ddd;
}

button.selected {
  font-weight: bold;
  background-color: #ddd;
}

section {
  padding: 1em;
  background: #eee;
}
</style>
