<template>
  <div>
    <ul>
      <li>
        <button>タブ１</button>
      </li>
      <li>
        <button>タブ２</button>
      </li>
    </ul>

    <section>
      コンテンツ１
    </section>

    <section>
      コンテンツ２
    </section>
  </div>
</template>

<style scoped>
ul {
  list-style: none;
  display: flex;
  padding: 0;
}

button {
  display: inline-block;
  border: none;
  padding: 0.5em 1em;
  background-color: #eee;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #ddd;
}

button.selected {
  font-weight: bold;
  background-color: #ddd;
}

section {
  padding: 1em;
  background: #eee;
}
</style>
