<template>
  <c-form>
    <c-fieldset>
      <div slot="label">
        ユーザーID
      </div>

      <div>
        {{form.userId}}
      </div>
    </c-fieldset>

    <c-fieldset>
      <div slot="label">
        性別
      </div>

      <div>
        {{genderText}}
      </div>
    </c-fieldset>

    <c-fieldset>
      <div slot="label">
        興味のある分野
      </div>

      <div>
        {{interestsText}}
      </div>
    </c-fieldset>

    <c-form-submit-block>
      <c-button @click.prevent="goEditPage()">戻る</c-button>
      <c-button @click.prevent="onSubmitButtonClick()">送信</c-button>
    </c-form-submit-block>
  </c-form>
</template>

<script>
import CButton from './CButton.vue'
import CFieldset from './CFieldset.vue'
import CForm from './CForm.vue'
import CFormSubmitBlock from './CFormSubmitBlock.vue'

export default {
  components: {
    CButton,
    CFieldset,
    CForm,
    CFormSubmitBlock,
  },
  props: ['form', 'genders', 'interests'],
  computed: {
    genderText() {
      return this.genders
        .filter(gender => {
          return gender.value === this.form.gender
        })
        .map(gender => {
          return gender.text
        })
        .join(', ')
    },
    interestsText() {
      return this.interests
        .filter(interest => {
          return this.form.interests.includes(interest.value)
        })
        .map(interest => {
          return interest.text
        })
        .join(', ')
    },
  },
  methods: {
    goEditPage() {
      this.$emit('goEditPage')
    },
    onSubmitButtonClick() {
      this.$emit('onSubmitButtonClick')
    },
    secretCommand($event) {
      this.$emit('secretCommand', $event)
    },
  },
  mounted() {
    window.addEventListener('keydown', this.secretCommand)
  },
  destroyed() {
    window.removeEventListener('keydown', this.secretCommand)
  },
}</script>
