<template>
  <c-form>
    <c-fieldset>
      <div slot="label">
        ユーザーID
      </div>

      <c-text-field
        name="userId"
        :value="form.userId"
        @input="onUserIdInput($event)"
      >
      </c-text-field>

      <div slot="message">
        <c-inline-message
          v-if="!isValid.userId"
          type="error"
        >
          {{error.userId}}
        </c-inline-message>
      </div>
    </c-fieldset>

    <c-fieldset>
      <div slot="label">
        性別
      </div>

      <c-radio
        v-for="gender in genders"
        :key="gender.value"
        name="gender"
        :value="gender.value"
        :checked="gender.value === form.gender"
        @change="onGenderChange($event)"
      >
        {{gender.text}}
      </c-radio>

      <div slot="message">
        <c-inline-message
          v-if="!isValid.gender"
          type="error"
        >
          {{error.gender}}
        </c-inline-message>
      </div>
    </c-fieldset>

    <c-fieldset>
      <div slot="label">
        興味のある分野
      </div>

      <c-checkbox
        v-for="interest in interests"
        :key="interest.value"
        name="interests"
        :value="interest.value"
        :checked="form.interests.includes(interest.value)"
        @change="onInterestsChange($event)"
      >
        {{interest.text}}
      </c-checkbox>

      <div slot="message">
        <c-inline-message
          v-if="!isValid.interests"
          type="error"
        >
          {{error.interests}}
        </c-inline-message>
      </div>
    </c-fieldset>

    <c-form-submit-block>
      <c-button @click.prevent="goConfirmPage()">確認画面へ</c-button>
    </c-form-submit-block>

    <c-inline-message
      v-if="failedToSubmit"
      type="error"
      align="center"
    >
      修正の必要な項目があります。
    </c-inline-message>
  </c-form>
</template>

<script>
import CButton from './CButton.vue'
import CCheckbox from './CCheckbox.vue'
import CFieldset from './CFieldset.vue'
import CForm from './CForm.vue'
import CFormSubmitBlock from './CFormSubmitBlock.vue'
import CInlineMessage from './CInlineMessage.vue'
import CRadio from './CRadio.vue'
import CTextField from './CTextField.vue'

export default {
  components: {
    CButton,
    CCheckbox,
    CFieldset,
    CForm,
    CFormSubmitBlock,
    CInlineMessage,
    CRadio,
    CTextField,
  },
  props: ['failedToSubmit', 'form', 'genders', 'interests', 'error', 'isValid'],
  methods: {
    goConfirmPage() {
      this.$emit('goConfirmPage')
    },
    updateUserId(value) {
      this.$emit('updateUserId', value)
    },
    updateGender(value) {
      this.$emit('updateGender', value)
    },
    updateInterests(value, isChecked) {
      this.$emit('updateInterests', value, isChecked)
    },
    submitData() {
      this.$emit('submitData')
    },
    onUserIdInput($event) {
      this.$emit('onUserIdInput', $event)
    },
    onGenderChange($event) {
      this.$emit('onGenderChange', $event)
    },
    onInterestsChange($event) {
      this.$emit('onInterestsChange', $event)
    },
  },
}</script>
