<template>
  <button>
    <slot></slot>
  </button>
</template>

<style scoped>
button {
  display: block;
  padding: 0.5em 2em;
  border: none;
  background: rgb(180, 175, 154);
  color: rgb(78, 75, 66);
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: rgb(99, 95, 84);
  color: rgb(228, 222, 199);
}
</style>
