<template>
  <label>
    <input
      type="radio"
      :name="name"
      :value="value"
      :checked="checked"
      @change="onChange($event)"
    >
    <slot></slot>
  </label>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
    checked: {
      type: Boolean,
      required: true,
    },
  },
  methods: {
    onChange($event) {
      this.$emit('change', $event)
    },
  },
}</script>

<style scoped>
label {
  display: block;
  padding: 0.5em;
  background: rgb(228, 222, 199);
}

label + label {
  margin-top: 0.5em;
}
</style>
