<template>
  <input
    type="text"
    :name="name"
    :value="value"
    @input="onInput($event)"
  >
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
  },
  methods: {
    onInput($event) {
      this.$emit('input', $event)
    },
  },
}</script>

<style scoped>
input[type='text'] {
  display: block;
  border: none;
  width: 100%;
  padding: 0.5em;
  background: rgb(228, 222, 199);
  font-size: 1em;
}
</style>
