* {
  box-sizing: border-box;
}

body {
  margin: 0.5em;
  max-width: 375px;
  font-family: 'Mplus 1p', sans-serif;
  background: rgb(205, 200, 176);
  color: rgb(78, 75, 66);
}

input {
  font-family: 'Mplus 1p', sans-serif;
  color: rgb(78, 75, 66);
}
